services:
  xrdp:
    build: .
    cap_add:
      - SYS_ADMIN
    container_name: xrdp_jammy_lxde
    command: xrdp
    environment:
      - LANG=ja_JP.UTF-8
      - LANGUAGE=ja_JP:ja
      - LC_ALL=ja_JP.UTF-8
    ports:
      - 3389:3389
    shm_size: 1g
    tty: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
